<div class="row">
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{avl.average_width_q_msec.label}}:</label>
        {{avl.average_width_q_msec}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{avl.average_width_r_msec.label}}:</label>
        {{avl.average_width_r_msec}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{avl.average_width_s_msec.label}}:</label>
        {{avl.average_width_s_msec}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{avl.jj_amplitude_milivolts.label}}:</label>
        {{avl.jj_amplitude_milivolts}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{avl.q_amplitude_milivolts.label}}:</label>
        {{avl.q_amplitude_milivolts}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{avl.r_amplitude_milivolts.label}}:</label>
        {{avl.r_amplitude_milivolts}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{avl.s_amplitude_milivolts.label}}:</label>
        {{avl.s_amplitude_milivolts}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{avl.p_amplitude_milivolts.label}}:</label>
        {{avl.p_amplitude_milivolts}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{avl.t_amplitude_milivolts.label}}:</label>
        {{avl.t_amplitude_milivolts}}
    </div>
</div>
