<div class="row">
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{avr.average_width_q_msec.label}}:</label>
        {{avr.average_width_q_msec}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{avr.average_width_r_msec.label}}:</label>
        {{avr.average_width_r_msec}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{avr.average_width_s_msec.label}}:</label>
        {{avr.average_width_s_msec}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{avr.jj_amplitude_milivolts.label}}:</label>
        {{avr.jj_amplitude_milivolts}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{avr.q_amplitude_milivolts.label}}:</label>
        {{avr.q_amplitude_milivolts}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{avr.r_amplitude_milivolts.label}}:</label>
        {{avr.r_amplitude_milivolts}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{avr.s_amplitude_milivolts.label}}:</label>
        {{avr.s_amplitude_milivolts}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{avr.p_amplitude_milivolts.label}}:</label>
        {{avr.p_amplitude_milivolts}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{avr.t_amplitude_milivolts.label}}:</label>
        {{avr.t_amplitude_milivolts}}
    </div>
</div>
