<div class="row">
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{d1.average_width_q_msec.label}}:</label>
        {{d1.average_width_q_msec}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{d1.average_width_r_msec.label}}:</label>
        {{d1.average_width_r_msec}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{d1.average_width_s_msec.label}}:</label>
        {{d1.average_width_s_msec}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{d1.jj_amplitude_milivolts.label}}:</label>
        {{d1.jj_amplitude_milivolts}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{d1.q_amplitude_milivolts.label}}:</label>
        {{d1.q_amplitude_milivolts}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{d1.r_amplitude_milivolts.label}}:</label>
        {{d1.r_amplitude_milivolts}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{d1.s_amplitude_milivolts.label}}:</label>
        {{d1.s_amplitude_milivolts}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{d1.p_amplitude_milivolts.label}}:</label>
        {{d1.p_amplitude_milivolts}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{d1.t_amplitude_milivolts.label}}:</label>
        {{d1.t_amplitude_milivolts}}
    </div>
</div>
