<div class="row">
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{d3.average_width_q_msec.label}}:</label>
        {{d3.average_width_q_msec}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{d3.average_width_r_msec.label}}:</label>
        {{d3.average_width_r_msec}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{d3.average_width_s_msec.label}}:</label>
        {{d3.average_width_s_msec}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{d3.jj_amplitude_milivolts.label}}:</label>
        {{d3.jj_amplitude_milivolts}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{d3.q_amplitude_milivolts.label}}:</label>
        {{d3.q_amplitude_milivolts}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{d3.r_amplitude_milivolts.label}}:</label>
        {{d3.r_amplitude_milivolts}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{d3.s_amplitude_milivolts.label}}:</label>
        {{d3.s_amplitude_milivolts}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{d3.p_amplitude_milivolts.label}}:</label>
        {{d3.p_amplitude_milivolts}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{d3.t_amplitude_milivolts.label}}:</label>
        {{d3.t_amplitude_milivolts}}
    </div>
</div>
