<div class="row">
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{datos_medicos_form.sexo.label}}:</label>
        {{datos_medicos_form.sexo}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{datos_medicos_form.edad.label}}:</label>
        {{datos_medicos_form.edad}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{datos_medicos_form.height_centimeters.label}}:</label>
        {{datos_medicos_form.height_centimeters}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{datos_medicos_form.heart_rate.label}}:</label>
        {{datos_medicos_form.heart_rate}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{datos_medicos_form.weight_kilograms.label}}:</label>
        {{datos_medicos_form.weight_kilograms}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{general.qrs_duration_msec.label}}:</label>
        {{general.qrs_duration_msec}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{general.qrs_duration_msec.label}}:</label>
        {{general.qrs_duration_msec}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{general.p_r_interval_msec.label}}:</label>
        {{general.p_r_interval_msec}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{general.q_t_interval_msec.label}}:</label>
        {{general.q_t_interval_msec}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{general.t_interval_msec.label}}:</label>
        {{general.t_interval_msec}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{general.p_interval_msec.label}}:</label>
        {{general.p_interval_msec}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{general.qrs_vector_angles.label}}:</label>
        {{general.qrs_vector_angles}}
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{general.t_vector_angles.label}}:</label>
        {{general.t_vector_angles}}
    </div>

    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{general.p_vector_angles.label}}:</label>
        {{general.p_vector_angles}}
    </div>

    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{general.qrst_vector_angles.label}}:</label>
        {{general.qrst_vector_angles}}
    </div>

    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label>{{general.j_vector_angles.label}}:</label>
        {{general.j_vector_angles}}
    </div>
</div>