{% load static %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>{% block title %}{% endblock title %}</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/templatemo-softy-pinko.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/logo/sara.png'%}"   />

    {% block css %}

    {% endblock css %}
    
    <script src="{% static 'assets/js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'assets/js/popper.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'assets/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/imgfix.min.js' %}"></script> 
    
    <!-- Global Init -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'toastr-master/build/toastr.css' %}">
    <script src="{% static 'toastr-master/build/toastr.min.js' %}"></script>
    <script src="{% static 'toastr-master/toastr.js' %}"></script>
    
    {% block js %}

    {% endblock js %}
    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    <header class="header-area">
    <div class="">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="" class="logo">
                        <img src="{% static 'img/logo/bitmap.png'%}"  class="img-fluid" width="100px" alt="sara"/>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
    </header>  
    {% block content %}

    {% endblock content %}

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p><a href="" class="btn btn-light btn-sm">Manual de usuario</a></p>
                    <!--
                        <p class="copyright">Copyright &copy; 2020 Softy Pinko Company - Design: TemplateMo</p>
                    -->
                </div>
            </div>
        </div>
    </footer>
    
    {% block scripts %}

    {% endblock scripts %}
    <!-- jQuery -->

  </body>
</html>