
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <svg
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:cc="http://creativecommons.org/ns#"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:svg="http://www.w3.org/2000/svg"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
    xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
    height="40mm"
    viewBox="10 4 90 55"
    version="1.1"
    id="svg8"
    inkscape:version="0.92.4 (33fec40, 2019-01-16)"
    sodipodi:docname="arritmia.svg">
        <defs
            id="defs2" />
        <sodipodi:namedview
            id="base"
            pagecolor="#ffffff"
            bordercolor="#666666"
            borderopacity="1.0"
            inkscape:pageopacity="0.0"
            inkscape:pageshadow="2"
            inkscape:zoom="1.1613897"
            inkscape:cx="174.50953"
            inkscape:cy="162.49711"
            inkscape:document-units="mm"
            inkscape:current-layer="layer1"
            showgrid="false"
            inkscape:window-width="1366"
            inkscape:window-height="728"
            inkscape:window-x="0"
            inkscape:window-y="0"
            inkscape:window-maximized="1"
            showguides="false"
            units="mm" />
        <metadata
            id="metadata5">
            <rdf:RDF>
            <cc:Work
                rdf:about="">
                <dc:format>image/svg+xml</dc:format>
                <dc:type
                rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                <dc:title></dc:title>
            </cc:Work>
            </rdf:RDF>
        </metadata>
        <g
            inkscape:label="Capa 1"
            inkscape:groupmode="layer"
            id="layer1"
            transform="translate(0,-242)">
            <rect
            id="rect3715"
            width="158.1907"
            height="0"
            x="11.874541"
            y="130.07399"
            style="stroke-width:0.26458332"
            ry="0" />
            <path
            style="fill:none;stroke:#000000;stroke-width:0.69999999;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
            d="m 3.7768868,271.45997 21.1557972,-0.13649 c 0,0 2.25572,-5.79493 4.777115,-5.86903 2.220922,-0.0653 4.504133,4.91361 4.504133,4.91361 l 8.052854,-0.13649 1.36489,5.73254 3.95818,-22.93015 4.9136,26.75184 2.320312,-9.28125 8.462317,-0.27298 c 0,0 0.353562,-5.98067 3.412225,-6.00552 2.831671,-0.023 3.548711,5.32308 3.548711,5.32308 h 10.919121 v 0 0"
            id="path4549"
            inkscape:connector-curvature="0"
            sodipodi:nodetypes="ccacccccccscccc" />
            <defs>
                <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                <stop offset="0%" style="stop-color:rgb(255,255,255,0.8);stop-opacity:1" />
                <stop offset="100%" style="stop-color:rgb(255,200,255,0.6);stop-opacity:1" />
                </linearGradient>
            </defs>
            <circle r="2" fill="url(#grad1)">
                <!-- Define the motion path animation -->
                <animateMotion dur="3s" repeatCount="indefinite">
                <mpath xlink:href="#path4549"/>
                </animateMotion>
            </circle>
        </g>
    </svg>

