<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="60mm"
   height="49mm"
   viewBox="0 0 80 65"
   version="1.1"
   id="svg8"
   inkscape:version="0.92.4 (33fec40, 2019-01-16)"
   sodipodi:docname="dibujo-1.svg">
  <defs
     id="defs2" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="0.54524562"
     inkscape:cx="206.91552"
     inkscape:cy="261.36288"
     inkscape:document-units="mm"
     inkscape:current-layer="layer1"
     showgrid="false"
     inkscape:window-width="1366"
     inkscape:window-height="728"
     inkscape:window-x="1280"
     inkscape:window-y="0"
     inkscape:window-maximized="1" />
  <metadata
     id="metadata5">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Capa 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(0,-232)">
    <g
       id="layer1-3"
       inkscape:label="Capa 1"
       transform="translate(-63.338812,147.46332)">
      <g
         transform="matrix(0.26458333,0,0,0.26458333,65.230086,80.52261)"
         id="g876">
        <g
           id="g819">
          <path
             inkscape:connector-curvature="0"
             style="fill:#e2574c"
             d="M 255.361,41.839 C 213.917,0.386 172.823,18.5 139.928,48.069 107.016,18.5 66.264,0.062 24.487,41.839 c -32.571,32.553 -32.728,84.866 0,117.244 115.083,103.522 115.056,103.338 115.056,103.338 0,0 0.166,0.341 115.809,-103.339 32.746,-32.378 32.58,-84.69 0.009,-117.243 z"
             id="path815" />
          <path
             inkscape:connector-curvature="0"
             style="fill:#cb4e44"
             d="m 139.92,48.06 -0.079,-0.061 v 214.168 c 1.846,-1.558 15.419,-13.345 115.511,-103.094 32.737,-32.369 32.579,-84.682 0,-117.235 C 213.908,0.386 172.823,18.5 139.92,48.06 Z"
             id="path817" />
        </g>
        <g
           id="g821" />
        <g
           id="g823" />
        <g
           id="g825" />
        <g
           id="g827" />
        <g
           id="g829" />
        <g
           id="g831" />
        <g
           id="g833" />
        <g
           id="g835" />
        <g
           id="g837" />
        <g
           id="g839" />
        <g
           id="g841" />
        <g
           id="g843" />
        <g
           id="g845" />
        <g
           id="g847" />
        <g
           id="g849" />
      </g>
      <path
         sodipodi:nodetypes="ccacccccaccc"
         inkscape:connector-curvature="0"
         id="path878"
         d="m 66.358663,114.18006 16.741309,0.24263 c 0,0 3.151087,-6.43004 6.06569,-6.30832 2.49877,0.10435 4.731239,5.82306 4.731239,5.82306 l 1.334453,3.03285 7.021346,-23.729414 3.29033,44.231454 5.09518,-24.62671 c 0,0 5.01291,-9.14377 8.97722,-8.24935 2.21217,0.49911 2.54759,6.30833 2.54759,6.30833 l 16.98394,-0.48526 -0.36394,0.24263"
         style="fill:none;stroke:#fffff9;stroke-width:2.2650001;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    

      <defs>
        <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
        <stop offset="0%" style="stop-color:rgb(0,0,0,0.8);stop-opacity:1" />
        <stop offset="100%" style="stop-color:rgb(0,0,0,0.6);stop-opacity:1" />
        </linearGradient>
    </defs>
    <circle r="2" fill="url(#grad1)">
            <!-- Define the motion path animation -->
            <animateMotion dur="3s" repeatCount="indefinite">
            <mpath xlink:href="#path878"/>
            </animateMotion>
    </circle>
    </g>

  </g>
</svg>
