        <a class="list-group-item list-group-item-action" id="list-info-list" data-toggle="list" href="#list-info" role="tab" aria-controls="info">Historial médico</a>
                            <a class="list-group-item list-group-item-action" id="list-d1-list" data-toggle="list" href="#list-d1" role="tab" aria-controls="d1">Messages</a>
                            <a class="list-group-item list-group-item-action" id="list-d2-list" data-toggle="list" href="#list-d2" role="tab" aria-controls="d2">Settings</a>
                     <div class="tab-pane fade" id="list-info" role="tabpanel" aria-labelledby="list-info-list">b</div>
                            <div class="tab-pane fade" id="list-d1" role="tabpanel" aria-labelledby="list-d1-list">c</div>
                            <div class="tab-pane fade" id="list-d2" role="tabpanel" aria-labelledby="list-d2-list">d</div>