{% extends "base/base.html" %}
{% load static %}
{% block title %}
Arritmias
{% endblock title %}

{% block login_block %}
{% include "includes/login_form.html" %}
{% endblock login_block %}

{% block content %}
<div class="row mt-5 ">
    <div class="col-lg-8 col-md-12">

        <div class="card" >
            <div class="card-header">
                Actividad reciente
            </div>
            <div class="card-body">
                <h5 class="card-title">Bienvenido {{request.user.username}}</h5>
                <hr>
                <ul>        
                    <li >Número de predicciones: <h6 class="text-danger">2</h6></li>
                    <br>
                    <li>Número de aciertos: <h6 class="text-danger">2</h6></li>
                </ul>
            </div>
        </div>
    </div>
    <br>
    <div class="col-lg-4 col-md-12">
        <div class="card">
            <div class="card-header">Menú</div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a class="btn btn-primary" title="Deja que Sandra lo haga por ti"href="{% url 'formulario_ai' %}">Hacer nueva predicción</a>
                    </li>
                    <li class="list-group-item">
                        <a class="btn btn-dark" title="Información sobre arritmias cardíacas" href="{% url 'arritmias' %}">Colorario de arritmias cardiacas</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>    
{% endblock content %}

{% block scripts %}
    <script>
        notification()
    </script>
{% endblock scripts %}