{% extends "base/base.html" %}
{% load static %}
{% block title %}
Arritmias
{% endblock title %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/file_input.css' %}">
{% endblock css %}
{% block login_block %}
{% include "includes/login_form.html" %}
{% endblock login_block %}

{% block content %}
<div class="row mt-5 ">
    <div class="col-12 col-sm-12">
        <form id="form_data" method="POST" onsubmit="return false">
            <div class="card" >
                <div class="card-header">
                    Ingresa información <button type="button" class="btn btn-link" data-toggle="modal" data-target="#info_modal" title="Ayuda"><i class="text-info fa fa-info-circle" aria-hidden="true"></i></button>
    
                </div>
                <div class="card-body">
                        <div class="row">
                            <div class="col-lg-2 col-sm-12">
                                <div class="list-group" id="list-tab" role="tablist">
                                    <a class="list-group-item list-group-item-action active" id="list-ecg-list" data-toggle="list" href="#list-ecg" role="tab" aria-controls="ecg">Imagen de ECG</a>
                                    <a class="list-group-item list-group-item-action " id="list-histo-list" data-toggle="list" href="#list-histo" role="tab" aria-controls="histo">Historial</a>
                                </div>
                            </div>
                            <div class="col-lg-10 col-sm-12">
                                <div class="tab-content" id="nav-tabContent">    
                                    <div class="tab-pane fade show active" id="list-ecg" role="tabpanel" aria-labelledby="list-ecg-list">
                                        <div class="input-file-container">  
                                            <input class="input-file" id="my-file" type="file">
                                            <label tabindex="0" for="my-file" class="input-file-trigger">Sube tu ECG</label>
                                        </div>
                                        <p class="file-return"></p>
                                        <a class="btn btn-danger btn-sm" onclick="bandera_clean()"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="tab-pane fade" id="list-histo" role="tabpanel" aria-labelledby="list-histo-list">
                                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Información general</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="d1-tab" data-toggle="tab" href="#d1" role="tab" aria-controls="d1" aria-selected="true">D1</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="d2-tab" data-toggle="tab" href="#d2" role="tab" aria-controls="d2" aria-selected="false">D2</a>
                                            </li>

                                            <li class="nav-item">
                                                <a class="nav-link" id="d3-tab" data-toggle="tab" href="#d3" role="tab" aria-controls="d3" aria-selected="false">D3</a>
                                            </li>

                                            <li class="nav-item">
                                                <a class="nav-link" id="av1-tab" data-toggle="tab" href="#av1" role="tab" aria-controls="av1" aria-selected="false">aV1</a>
                                            </li>

                                            <li class="nav-item">
                                                <a class="nav-link" id="av2-tab" data-toggle="tab" href="#av2" role="tab" aria-controls="av2" aria-selected="false">aV2</a>
                                            </li>

                                            <li class="nav-item">
                                                <a class="nav-link" id="av3-tab" data-toggle="tab" href="#av3" role="tab" aria-controls="av3" aria-selected="false">aV3</a>
                                            </li>

                                            <li class="nav-item">
                                                <a class="nav-link" id="av4-tab" data-toggle="tab" href="#av4" role="tab" aria-controls="av4" aria-selected="false">aV4</a>
                                            </li>

                                            <li class="nav-item">
                                                <a class="nav-link" id="av5-tab" data-toggle="tab" href="#av5" role="tab" aria-controls="av5" aria-selected="false">aV5</a>
                                            </li>

                                            <li class="nav-item">
                                                <a class="nav-link" id="av6-tab" data-toggle="tab" href="#av6" role="tab" aria-controls="av6" aria-selected="false">aV6</a>
                                            </li>

                                            <li class="nav-item">
                                                <a class="nav-link" id="avr-tab" data-toggle="tab" href="#avr" role="tab" aria-controls="avr" aria-selected="false">aVR</a>
                                            </li>

                                            <li class="nav-item">
                                                <a class="nav-link" id="avl-tab" data-toggle="tab" href="#avl" role="tab" aria-controls="avl" aria-selected="false">aVL</a>
                                            </li>

                                            <li class="nav-item">
                                                <a class="nav-link" id="avf-tab" data-toggle="tab" href="#avf" role="tab" aria-controls="avf" aria-selected="false">aVF</a>
                                            </li>

                                        </ul>
                                        <div class="tab-content" id="myTabContent">
                                            <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                                                <br>
                                                {% include "formulario/info.html" %}
                                            </div>
                                            <div class="tab-pane fade" id="d1" role="tabpanel" aria-labelledby="d1-tab">
                                                <br>
                                                {% include "formulario/d1.html" %}
                                            </div>
                                            <div class="tab-pane fade" id="d2" role="tabpanel" aria-labelledby="d2-tab">
                                                <br>
                                                {% include "formulario/d2.html" %}
                                            </div>

                                            <div class="tab-pane fade" id="d3" role="tabpanel" aria-labelledby="d3-tab">
                                                <br>
                                                {% include "formulario/d3.html" %}
                                            </div>

                                            <div class="tab-pane fade" id="av1" role="tabpanel" aria-labelledby="av1-tab">
                                                <br>
                                                {% include "formulario/av1.html" %}
                                            </div>

                                            <div class="tab-pane fade" id="av2" role="tabpanel" aria-labelledby="av2-tab">
                                                <br>
                                                {% include "formulario/av2.html" %}
                                            </div>

                                            <div class="tab-pane fade" id="av3" role="tabpanel" aria-labelledby="av3-tab">
                                                <br>
                                                {% include "formulario/av3.html" %}
                                            </div>

                                            <div class="tab-pane fade" id="av4" role="tabpanel" aria-labelledby="av4-tab">
                                                <br>
                                                {% include "formulario/av4.html" %}
                                            </div>

                                            <div class="tab-pane fade" id="av5" role="tabpanel" aria-labelledby="av5-tab">
                                                <br>
                                                {% include "formulario/av5.html" %}
                                            </div>

                                            <div class="tab-pane fade" id="av6" role="tabpanel" aria-labelledby="av6-tab">
                                                <br>
                                                {% include "formulario/av6.html" %}
                                            </div>
                                            <div class="tab-pane fade" id="avr" role="tabpanel" aria-labelledby="avr-tab">
                                                <br>
                                                {% include "formulario/avr.html" %}
                                            </div>

                                            <div class="tab-pane fade" id="avl" role="tabpanel" aria-labelledby="avl-tab">
                                                <br>
                                                {% include "formulario/avl.html" %}
                                            </div>
                                            <div class="tab-pane fade" id="avf" role="tabpanel" aria-labelledby="avf-tab">
                                                <br>
                                                {% include "formulario/avf.html" %}
                                            </div>
                                        </div>            
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="card-footer text-right">
                    <button type="submit" class="btn btn-success">Predecir</button>
                </div>
            </div>
        </form>
    </div>
</div>    
<div class="modal fade" id="info_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tarjeta informativa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Sigue los siguientes pasos:
        <ul>   
            <li>Debes de subir por lo menos la imagen de un ECG o el historial médico.</li>
            <li>Para una mejor clasificación, proporciona la mayor información que puedas del formulario del historial médico.</li>            
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-primary">Entendido</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="wait_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Pensando</h5>
      </div>
      <div class="modal-body">
            Se está procesando su información, por favor, no cierre ésta ventana hasta que Sara tenga una predicción.
        <center>
            {% include "includes/cargando.html" %}
        </center>
      </div>
      <div class="modal-footer">
        No cierres está ventana.
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block scripts %}
    <script>
        notification()
    </script>
    <script>
        var bandera = 0;

        $(document).ready(function() {
            $('#form_data').submit(function() { // catch the form's submit event
                if(bandera == 1){
                    toastr.warning("No puede subir un archivo con extensión diferente a jpg.");
                    return;
                }else{   
                    $('#wait_modal').modal({backdrop: 'static', keyboard: false,show:true})
                    
                    $.ajax({ // create an AJAX call...
                        headers: { "X-CSRFToken": '{{csrf_token}}' },
                        data: $(this).serialize(), // get the form data
                        type: "POST", // GET or POST
                        success: function(response) { // on success..
                            document.location.href = "{% url 'show_data' %}";
                        }
                    });
                }
            });
        });

        document.querySelector("html").classList.add('js');
        var fileInput  = document.querySelector( ".input-file" ),  
            button     = document.querySelector( ".input-file-trigger" ),
            the_return = document.querySelector(".file-return");
            
        button.addEventListener( "keydown", function( event ) {  
            if ( event.keyCode == 13 || event.keyCode == 32 ) {  
                fileInput.focus();  
            }  
        });
        button.addEventListener( "click", function( event ) {
        fileInput.focus();
        return false;
        });  
        fileInput.addEventListener( "change", function( event ) {  
            if(this.value.split('.').pop() != "jpg"){
                bandera = 1;
                the_return.innerHTML = "Extensión no permitida"
            }
            else{
                bandera = 0;
                the_return.innerHTML = this.value;
            }
        });  

        function bandera_clean(){
            bandera = 0;
            the_return = document.querySelector(".file-return");
            the_return.innerHTML = null;
        }
    </script>
{% endblock scripts %}