{% extends "base/base.html" %}
{% load static %}

{% block title %}
Arritmias
{% endblock title %}

{% block content %}

    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                        <h1>Clasificación de <strong>arritmias</strong><br>cardíacas</h1>
                        {% include "includes/arritmia.html" %}
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Features Small Start ***** -->
    <section class="section home-feature">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="{% static 'img/cnn.png'%}" alt=""></i>
                                </div>
                                <h5 class="features-title">CNN</h5>
                                <p>Clasificación con el modelo de CNN e imagenes</p>

                                <a href="{% url 'cnn' %}" class="main-button">Ir</a>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->

                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="{% static 'img/rf.png'%}" alt=""></i>
                                </div>
                                <h5 class="features-title">Random forest</h5>
                                <p>Clasificación con el modelo de random forest</p>
                                <a href="{% url 'rf' %}" class="main-button">Ir</a>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->
                        <!-- ***** Features Small Item Start ***** -->
                        
                        <!-- ***** Features Small Item End ***** -->
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

