{% extends "base/base.html" %}
{% load static %}
{% block title %}
Arritmias
{% endblock title %}

{% block content %}
    <div class="card card-padding card-s-padding card-background-transparent ">
        <div class="card-body">
            <div class="row card-padding-content">
                <div class="col-4">
                    <div class="row">
                        <h2 class="pl-4">Predicción</h2>
                    </div>
                    <br>
                    <div class="row">
                        {% include "includes/heart.html" %}
                    </div>
                    <div id="id_score">
                        <div class="row pt-4 pl-4">
                            <h6>SARA:</h6> ¿Están bien estos resultados, te sirvieron?
                        </div>
                        <div class="row pt-4 pl-5">
                            <div class="row">
                                <div class="btn-group btn-group-toggle">
                                    <div class="form-check">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                                            <label class="custom-control-label" for="customCheck1">Si</label>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row pt-4 pl-5">
                            <div class="row">
                                <div class="btn-group btn-group-toggle">
                                    <label class="btn btn-success" for="opinion">
                                        <i class="fa fa-comments" aria-hidden="true"></i>
                                    </label>
                                    <textarea class="form-control" id="id_comment" rows="2",colums="3" autocomplete="off"></textarea>  
                                </div>
                            </div>
                        </div>
                        <div class="row pt-4 pl-5">
                            <div class="row">
                                <div class="btn-group btn-group-toggle">
                                    <button id="comment_btn" class="btn btn-success" onclick=comments()>Enviar</button>
                                </div>
                            </div>
                        </div>
                    </div>    
                    
                </div>
                <div class="col">
                    <div class="row">
                        <h2>Sara encontró los siguientes resultados:</h2>
                    </div>
                    <div class="row pt-4">
                        {% if type == 1 %}
                        {% for key, values in predict.items %}
                        <div class="col">
                            <div class="card border-info mb-3" style="max-width: 18rem;">
                                <div class="card-header  bg-info">Anomalía</div>
                                <div class="card-body">
                                    <h5 class="card-title">{{values}}%</h5>
                                    <p class="card-text">
                                        {% if values < "55" %}
                                            Poco probable que sea:
                                        {% elif values >= "55" and values < "80" %}
                                            Muy probable que sea:
                                        {% else %}
                                            Seguramente está mal que sea:
                                        {% endif %}
                                        {{key}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="col">
                            <div class="card border-info mb-3" style="max-width: 18rem;">
                                <div class="card-header  bg-info">Anomalía</div>
                                <div class="card-body">
                                    <h5 class="card-title">Predicción</h5>
                                    <p class="card-text">
                                        Sofía determinó que su ECG puede presentar: {{predict}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>

                    <div class="row pt-4 pl-5">
                        <div class="row">
                            <div class="btn-group btn-group-toggle">
                                <a href="{% url 'main' %}" class="btn btn-info">Salir</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
<script>
    notification()
</script>
<script>
    function comments(){

        var data = new FormData();

        data.append('ok_result',$("#customCheck1").prop('checked'));
        data.append('comment',$("#id_comment").val());
        $( "#comment_btn" ).prop( "disabled", true );

        $.ajax({
            headers: { "X-CSRFToken": '{{csrf_token}}' },
            url: "{% url 'comments' %}",
            type: "POST",
            dataType: 'json',
            data:data,
            contentType: false,
            processData: false,
            success: function (response) {
                console.log(response)
                console.log(typeof(response))
                
                if(response.status_code != 200){
                    toastr.error(response.payload.msg);
                    return
                } 
                $("#id_score").hide()
                toastr.success(response.payload.msg);
            },
        });
    }
</script>
{% endblock scripts %}